importMethodsFrom(flowWorkspace
					,"getData"
					,"add"
					,"Rm"
					,"getNodes"
					,"recompute"
					,"getGate"
					,"[["
					,"["
					,"getIndices"
					,"getSamples"
					,"getPopStats"
					,"lapply"
					)
importFrom(flowWorkspace,booleanFilter)

exportMethods("getData"
			 ,getIndices
			 ,"getGate"
			 )
			 
export(merge_gs, getIndiceMat)

