importMethodsFrom(flowWorkspace
					,"getData"
					,"add"
					,"Rm"
					,"getNodes"
					,"recompute"
					,"getGate"
					,"[["
					,"["
					,"getIndices"
					,"getSamples"
					,"getPopStats"
					,"lapply"
					)
importFrom(flowWorkspace,booleanFilter)
importFrom(QUALIFIER,getQAStats)


exportClasses(GatingSetList)

exportMethods("lapply"
			 ,"getData"
			 ,"merge"
			 ,"rbind2"
			 ,"show"
			 ,"getSamples"
			 ,"[["
			 ,"["
			 ,"plotGate"
			 ,"getQAStats"
			 ,"pData"
			 ,"getGate"
			 ,"getPopStats"
			 )
			 
export("save_gs","load_gs","save_gslist","load_gslist", GatingSetList)

